.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
  
.heading {
    margin: 5rem;
    text-align: center;
}
  
.heroImage {
    display: flex;
    justify-content: center;
    margin-bottom: 5rem;
}

.otherImages {
    display: flex;
    justify-content: center;
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
}